# ------------------------------------------------------------------------------
# | Rewrite URL | Front end controller pattern
# ------------------------------------------------------------------------------
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /K/index.php [QSA,L]
